.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output

public
documentation
emulatorData
functions
Secrets
vite.config.js.timestamp-1675709198555.mjs
firestore-debug.log
ui-debug.log
